
{{> header }}
<div class="container">

  <div class="row">
    <div class="col-12  mb-2 ">
      <h1 id="doc-main-h1">Page not found</h1>

    </div>
  </div>


  <div class="col-12 shadow-sm p-3 mx-auto mb-3 bg-white rounded">

    <div class="row">
      <div class="col-md-10 lead">That page does not exist.</div>
    </div>

    <div class="row large-bottom-space"></div>
  </div>
</div>

{{> footer }}
