
{{> header }}
<div class="container">

  <div class="row">
    <div class="col-12  mb-2 ">
      <h1 id="doc-main-h1">Reset password</h1>

    </div>
  </div>


  <div class="col-12 shadow-sm p-3 mx-auto mb-3 bg-white rounded">

    {{> show_flash_messages }}

    <form class="form-horizontal" action="/reset-password/" method="post">

      <div class="row">&nbsp;</div>

      <input type="hidden" name="t" value="{{token}}">

      <div class="form-group">
        <label for="password_inp" class="col-md-2 control-label col-md-offset-2">New password:</label>
        <div class="col-md-5">
          <input class="form-control" id="password_inp" type="password" name="password">
        </div>
      </div>

      <div class="form-group">
        <label for="confirm_password_inp" class="col-md-2 control-label col-md-offset-2">Confirm new password:</label>
        <div class="col-md-5">
          <input class="form-control" id="confirm_password_inp" type="password" name="confirm_password">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-2">
          <button type="submit" class="btn btn-success" id="submit_login">Save</button>
        </div>
      </div>

    </form>

    <div class="row">&nbsp;</div>
  </div>
</div>
{{> footer }}
